body {
    background-color:var(--bg-color);
    padding-top: 5em;
    font-family : "Courier New", monospace;
}



.container {
    max-width: 900px;   /* largeur maximale */
    width: 90%;         /* prend 90% de l’écran si plus petit */
    margin: 0.8rem auto;  /* centré horizontalement, marge verticale */
}


.header h1 {
    font-size: clamp(24px, 6vw, 40px); /* adaptable selon largeur écran */
    text-align: center;
    font-weight: normal;
    color: var(--text-color);
    text-decoration: none;
}




.header img {
    border-radius: 17px;
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}


.header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 7%;
}


p {
    font-size: clamp(16px, 3vmax, 28px);
    text-align: justify;
    color : var(--text-color);
    margin-bottom: 1.5rem;
}



.contact h2{
    font-size: clamp(20px, 4vw, 40px); /* adaptable selon largeur écran */
    text-align: left;
    font-weight: normal;
    color: var(--text-color);
    text-decoration: none;
    

    }


.button-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    }


.button-container{

    margin: 0;
    font-size: 14px;
    color: var(--text-color);

    }


#copier-btn {
    background-color: var(--btn-color);
    border: none;
    color: var(--text-color);
    padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 32px);
    text-decoration: none;
    font-family: "Courier New", monospace;
    display: inline-block;
    cursor: pointer;
    font-size: clamp(16px, 2vw, 24px);
    border-radius: 12px;
    transition: 0.6s ease;
    margin: 0 auto;
}

#copier-btn:hover {
  background-color: var(--btn-hcolor);
  transform: scale(1.1);
  color: var(--bg-color);
}


footer {  
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-top: 1.5em;
    border-top: 2px solid var(--text-color); /* trait de séparation */
}




.btn-retour {
    display: inline-block;
    background: var(--btn-color);
    color: var(--bg-color);
    padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 32px);
    text-decoration: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: clamp(14px, 2vw, 18px);
    font-family: "Courier New", monospace;
    transition: 0.5s ease;
}

.btn-retour:hover {
  background: var(--btn-hcolor);
  color: var(--bg-color);
  transform: scale(1.05);
}


