body {
    background-color:#ffd6b6;
    padding-top: 5em;
    font-family : "Courier New", monospace;
}



.container {
    max-width: 900px;   /* largeur maximale */
    width: 90%;         /* prend 90% de l’écran si plus petit */
    margin: 0.8rem auto;  /* centré horizontalement, marge verticale */
}


.header h1 {
    font-size: clamp(24px, 6vw, 40px); /* adaptable selon largeur écran */
    text-align: center;
    font-weight: normal;
    color: #5c2626;
    text-decoration: none;
}




p {
    font-size: clamp(16px, 3vmax, 28px);
    text-align: justify;
    color : #5c2626;
    margin-bottom: 1.5rem;
}


.header img {
    border-radius: 17px;
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}


.header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 7%;
}

