body {
    background-color: var(--bg-color);
    font-family: "Courier New";
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}



h1 {
    text-align: center;
    font-weight: normal;
    color : var(--text-color);
    font-size: 36px;
    text-decoration: none; 
    font-family : "Courier New";
    margin-bottom: 50px;
    }   




p {
    font-size: clamp(16px, 2vmax, 22px); /* texte responsive */
    font-size: 22px;
    color : var(--text-color);
    max-width: 850px;   /* largeur maximale */
    width: 90%;         /* prend 90% de l’écran si plus petit */
    margin: 2rem auto;  /* centré horizontalement, marge verticale */
}


