*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

.main-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}



h1 {
    text-align: center;
    font-weight: normal;
    color : var(--text-color);
    font-size: 36px;
    text-decoration: none; 
    font-family : var(--font-family);
    margin-bottom: 50px;
    }   




p {
    font-size: clamp(16px, 2vmax, 22px); /* texte responsive */
    font-size: 22px;
    color : var(--text-color);
    max-width: 850px;   /* largeur maximale */
    width: 90%;         /* prend 90% de l’écran si plus petit */
}

.exo{
    display: flex;
    border: 3px solid;
    border-color: var(--btn-color);
    padding: 22px;
    border-radius: 12px;
    flex-direction: column;
    gap: 2rem;       
    width: 90%;          /* même largeur */
    max-width: 850px;    /* limite max */
    margin-bottom: 40px; /* espace entre les exos */
}

.btn-solution{
    font-size: clamp(10px, 2vw, 20px);
    border: none;
    border-radius: 12px;
    padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 32px);
    background-color: var(--btn-color);
    color: var(--text-color);
    font-family: var(--font-family);
    transition: 0.8s ease;

}

.btn-solution:hover{
    background-color: var(--btn-hcolor);  
    color: var(--bg-color);
    cursor: pointer;
    transform: scale(1.089);
}

footer {
    color: var(--text-color);
    text-align: center;
    position: fixed; /* reste toujours en bas */
    bottom: 0;
    left: 0;
    width: 100%;     /* prend toute la largeur */
    padding: 10px;
}