

body {
  background-color: var(--bg-color);
  text-align: center;
  padding-top: clamp(5em, 10vw, 10em); /* s’adapte à la taille écran */
  font-family: "Courier New", monospace;
}


.typewrite {
    font-weight: normal;
    color: var(--text-color);
    font-size: clamp(24px, 8vw, 50px);
    text-decoration: none;
}


.pr1 {
    text-align: justify;
    color: var(--text-color);
    font-size: clamp(20px, 2vmax, 30px);
    margin: 3rem auto;
    max-width: 85%; /* limite largeur pour meilleure lisibilité */
}



.btn_group .button {
    background-color: var(--btn-color);
    border: none;
    color: var(--text-color);
    padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 32px);
    text-align: center;
    text-decoration: none;
    font-family: "Courier New", monospace;
    display: inline-block;
    cursor: pointer;
    font-size: clamp(16px, 2vw, 24px);
    border-radius: 12px;
    transition: 0.6s ease;
    margin: 2rem;
}

.button:hover {
  background-color: var(--btn-hcolor);
  transform: scale(1.1);
  color: var(--bg-color);
}


