

body {

  background-color: var(--bg-color);
  min-height: 100vh; /* s’adapte à la taille écran */
  font-family: var(--font-family), monospace;
  
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: justify;
  
  min-height: calc(100vh - 50px); /* 100% de la hauteur moins la navbar */
  padding: 1rem;
}


.container h1{

  text-align: center;

}


.typewrite {
    font-weight: normal;
    color: var(--text-color);
    font-size: clamp(24px, 8vw, 50px);
    text-decoration: none;
}


.pr1 {
    
    color: var(--text-color);
    font-size: clamp(20px, 2vmax, 28px);
    margin: 2rem auto;
    max-width: 70%; /* limite largeur pour meilleure lisibilité */
}



footer {
  color: var(--text-color);
  text-align: center;
  position: fixed; /* reste toujours en bas */
  bottom: 0;
  left: 0;
  width: 100%;     /* prend toute la largeur */
  padding: 10px;
}