*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

.main-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}



h1 {
    text-align: center;
    font-weight: normal;
    color : var(--text-color);
    font-size: 36px;
    text-decoration: none; 
    font-family : var(--font-family);
    margin-bottom: 50px;
    margin-top: 20px;
    }   




p {
    font-size: clamp(16px, 2vmax, 22px); /* texte responsive */
    font-size: 22px;
    color : var(--text-color);
    max-width: 850px;   /* largeur maximale */
    width: 90%;         /* prend 90% de l’écran si plus petit */
}

.actu{
  display: flex;
  flex-direction: column;
  width: 850px;   /* largeur maximale */
  margin-top: 20px;
  color: var(--text-color);
}

.actu h2{
  
  text-align: left;
}

.actu ul{
  margin-left: 30px;
}

.btn-container{
  width: 850px;   /* largeur maximale */
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-around;
}

.preview {
    text-align: center;
    margin: 30px 0;
  }
  .preview img {
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  }

  .download-btn {
    min-width: 215px;  /* largeur minimale */
    height: 60;     

    text-decoration: none;
    border-radius: 12px;
    display: flex;
    align-items: center;      /* centre verticalement */
    justify-content: center;  /* centre horizontalement */
    color: var(--text-color);
    background-color: var(--btn-color);
    transition: 0.6s ease;


  }

  .download-btn:hover{
    background-color: var(--btn-hcolor);  
    color: var(--bg-color);
    transform: scale(1.05);
  }

  .download-btn svg {
    fill: var(--text-color);
   }
   


footer {
    color: var(--text-color);
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;     /* prend toute la largeur */
    padding: 10px;
}
