


body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
}




h1 {
    text-align: center;
    font-weight: normal;
    color : var(--text-color);
    font-size: 36px;
    text-decoration: none; 
    font-family : var(--font-family);
    margin-bottom: 50px;
    }


.link {
    text-align: left;
    font-size: 30px;
    text-decoration: none;
    font-weight: normal;
    color : var(--text-color);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    border-radius: 12px;
    padding: 5px 10px;
    }

.link:hover {
  color: var(--bg-color);
  box-shadow: inset 800px 0 0 0 var(--btn-hcolor);;
}


p {
    font-size: clamp(16px, 2vmax, 22px); /* texte responsive */
    font-size: 22px;
    text-justify: inter-word;
    text-align: justify;
    color : var(--btn-hcolor);
}

.upper-container{
    display: flex;              /* active Flexbox */
    flex-direction: column;     /* empile verticalement les éléments */
    align-items: center;        /* centre horizontalement tout */
    gap: 1rem;                  /* espace vertical entre les éléments */
}


.container {
    
    max-width: 850px;   /* largeur maximale */
    width: 90%;         /* prend 90% de l’écran si plus petit */
    margin: 2rem auto;  /* centré horizontalement, marge verticale */
}


/* L'image passe à gauche et le texte s'enroule autour */
.container img {
    float: left;
    margin: 0 1rem 1rem 0;
    width: 150px;          /* largeur identique pour toutes */
    height: 150px;         /* hauteur identique pour toutes */
    object-fit: cover;     /* recadre l’image au lieu de l’étirer */
    border-radius: 8px;    /* optionnel : coins arrondis */
}



/* Clearfix pour éviter que le conteneur ne s’écrase */
.container::after {
  content: "";
  display: block;
  clear: both;
}


