
:root {
    
    --bg-color: #ffd6b6;
    --text-color: #5c2626;
    --btn-color: #ea7362;
    --btn-hcolor: #b74242;

    }


.darkmode{

    --bg-color: #1b262c;
    --text-color: #bbe1fa;
    --btn-color: #0f4c75;
    --btn-hcolor: #3282b8;

    }
